# Программирование для всех

*Алла Тамбовцева*

## Домашнее задание 5

Файл для работы: `polit.xlsx` ([ссылка](http://math-info.hse.ru/f/2018-19/comm-math/polit.xlsx) на файл)

Описание файла: сокращенная версия файла `PetersMcGuireData.xlsx`, взятого [отсюда](http://jmcguire.faculty.wesleyan.edu/welcome/data/#20LActries) (страница James W.McGuire, Data used in “Authoritarianism in the Middle East”). 

Переменные:

* `ctry` – country
* `fh09` – **Freedom House** index (ranging from 1 (most) to 7 (fewest) political rights and civil liberties), 2009
* `polity09` – **Polity2** score (ranging from -10 to +10, latter most democratic), 2009
* `gini` – **Gini index** of income inequality, 2000-2010
* `fparl08` – female share of seats in parliament (%), 2008
* `mena` – Middle East and North Africa (1 - yes, 0 - no)
* `lati` – Latin America (1 - yes, 0 - no)
* `cari` – Caribbean, former British, French, Dutch colony
* `east` – East Asia
* `sovi` – Former Soviet Bloc
* `afri` – Africa
* `corr0509` – Control of Corruption, average 2005-2009 (expert rating).

### Часть 1: знакомство с датафреймом
    
1. Загрузите таблицу из файла `polit.xlsx` и сохраните ее в переменную `df`. Используйте функцию `read_excel()`.
2. Выведите общую информацию по таблице: число строк и столбцов, типы данных в таблице. Есть ли в таблице пропущенные значения?
3. Выведите на экран описательные статистики по всем количественным переменным в таблице. Выберите какой-нибудь интересующий вас столбец и проинтерпретируйте описательные статистики по нему (т.е. опишите «обычными» словами, что значат значения типа `min`, `std`, `50%` и так далее).

### Часть 2: фильтрация строк по условиям и сортировка

1. Выберите в таблице строки, которые соответствуют странам со значениями Freedom House (`fh09`) выше 5. Сохраните их в переменную `not_free`.
2. Выберите в таблице строки, которые соответствуют странам Африки (`afri`) с процентом женщин в парламенте выше 30%.
3. Выберите в таблице строки, которые соответствуют странам Африки *или* Латинской Америки (`afri` и `lati`) со значением `polity09` больше или равным 8.
4. Отсортируйте строки в таблице в соответствии со значениями столбца со средними значениями индекса *Control of Corruption* (`corr0509`) по убыванию и выведите: первые 10 строк; последние 10 строк. Используйте метод `.sort_values()`. Пример:

        df.sort_values('column_name', ascending = False) # ascend - возрастать
        
### Часть 3: работа со столбцами

1. Переименуйте какие-нибудь столбцы в таблице (хотя бы один, можно несколько) и сохраните изменения в `df`.
1. Добавьте в `df` столбец `corr_round`, в котором будут храниться округленные до 2 знака после запятой значения индекса *Control of Corruption* (`corr0509`). 
3. Добавьте в `df` столбец `fh_status`, в котором будут храниться типы стран в зависимости от значения индекса *Freedom House* (значения `free`, `partly free`, `not free`). Соответствие значений `fh09` с типами стран см. [здесь](https://freedomhouse.org/report/freedom-world-2016/methodology) (в конце, Table 3). 

*Подсказка:* имеет смысл написать свою функцию, которая будет возвращать нужный тип страны (текстовое значение) по поданному на вход индексу Freedom House (числовое значение), а потом применить ее к столбцу `fh09` Пример написания функции для перевода оценок в 10-балльной шкале в текстовые отметки:

In [4]:
# функция convert_marks

def convert_marks(mark):
    if mark < 4:
        a = 'плохо'
    elif mark >= 4 and mark < 6:
        a = 'удовлетворительно'
    elif mark >= 6 and mark < 8:
        a = 'хорошо'
    else:
        a = 'отлично'
    return a

In [5]:
# маленький датафрейм, полученный из словаря d

import pandas as pd

d = {'Ann': 4, 'Peter': 8, 'Sam': 6, 'Queen': 10}
dat = pd.DataFrame(list(d.items()), columns=['name', 'mark'])
dat

    name  mark
0    Ann     4
1  Peter     8
2    Sam     6
3  Queen    10

In [6]:
[convert_marks(m) for m in dat.mark]

['удовлетворительно', 'отлично', 'хорошо', 'отлично']

### Часть 4: визуализация

Сочетая функционал `pandas` и `matplotlib`, постройте гистограмму для показателя `fparl08`. Поменяйте цвет гистограммы (см. список цветов [здесь](https://matplotlib.org/users/colors.html)).